<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>瓣豆书评系统</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/book.css"/>

    <script src="../js/jquery-3.5.1.js"></script>
    <script src="../js/toggle.js" defer></script>
    <script src="../bootstrap/js/bootstrap.js" defer></script>
    <script src="../js/book.js" defer></script>
</head>
<body>
<div id="root">
    <div class="slide">
        <div class="slide-top">
            瓣豆书评系统
        </div>
        <!-- FIXME 修改首页与用户管理的路径 -->
        <ul class="slide-list">
            <li class="slide-list-item">
                <a href="#" th:href="@{/home}">首页</a>
            </li>
            <li class="slide-list-item slide-active">
                <a href="#" th:href="@{/toBookManage}">瓣豆书评</a>
            </li>
<!--            <li class="slide-list-item">-->
<!--                <a href="./userManage.html">用户管理</a>-->
<!--            </li>-->
        </ul>
    </div>
    <div class="content">
        <div class="content-top">
                    <span
                            class="glyphicon glyphicon-menu-hamburger toggle"
                    ></span>
            <a class="btn btn-default" href="/logout">退出登录</a>
        </div>
        <div class="wrapper">
            <div class="main">
                <!-- 搜索 -->
                <form
                        action="/toBookManage?type=1"
                        method="POST"
                        class="form-inline search-box"
                >
                    <div class="form-group">
                        <select
                                class="form-control"
                                name="queryOption"
                        >
                            <option th:selected="${queryOption} eq '书名' ">书名</option>
                            <option th:selected="${queryOption} eq '作者' ">作者</option>
                            <option th:selected="${queryOption} eq 'ISBN' ">ISBN</option>
                        </select>
                        <input
                                type="text"
                                name="queryInfo"
                                class="form-control "
                                th:value="${queryInfo}"
                        />
                        <button
                                type="submit"
                                class="btn btn-primary btn-sm"
                        >
                            搜索
                        </button>
                    </div>
                </form>



                <!-- 书单列表 -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
<!--                        <th>编号</th>-->
                        <th>书名</th>
                        <th>作者</th>
                        <th>出版社</th>
                        <th>ISBN</th>
                        <th>评分</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="book-item" th:each="book : ${page.content}">
                        <td th:text="${book.id}" style="display: none">id1</td>
                        <!-- FIXME 添加详情页路径 -->
                        <td ><a href="/detail.html"  th:href="@{/detail/{id}(id=*{book.id})}"  th:text="${book.bookname}">人月神话</a></td>
                        <td th:text="${book.writer}">布鲁克斯</td>
                        <td th:text="${book.publish}">清华大学出版社</td>
                        <td th:text="${book.ISBN}">1asfdasdfasvasdvasd</td>
                        <td th:text="${book.score}">7.8</td>
                    </tr>
                    </tbody>
                </table>

                <!-- 分页 -->
                <div class="sp-page">
                    <div class="btn-group" role="group" th:if="${page.totalPages}>1">
                        <a
                                class="btn btn-default"
                                href="#"
                                th:href="@{/toBookManage(page=0)}" th:unless="${page.first}"
                                role="button"
                        >首页</a
                        >
                        <a
                                class="btn btn-default"
                                href="#"
                                th:href="@{/toBookManage(page=${page.number}-1)}" th:unless="${page.first}"
                                role="button"
                        >上一页</a
                        >
                        <a
                                class="btn btn-default"
                                href="#"
                                th:href="@{/toBookManage(page=${page.number}+1)}" th:unless="${page.last}"
                                role="button"
                        >下一页</a
                        >
                        <a
                                class="btn btn-default"
                                href="#"
                                th:href="@{/toBookManage(page=${page.totalPages}-1)}" th:unless="${page.last}"
                                role="button"
                        >尾页</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
